 <h1>Fraternity members hold a charity run, {{ form.emotion }} the senior community about the splash of color.</h1>

        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/Old.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>{{ form.name_1 }}, {{ form.number_3 }}, pictured here enraged. </figcaption>
        </figure>

        <p>
            Members of the Southwestern {{ form.US_state }} State University fraternity chapter of {{ form.Fraternity }} held a charitable color run for students and faculty of the university and members of the community during the beautiful, sunshiny weather this past Saturday.
            Proceeds raised benefitted the local {{ form.non_profit_agency }}, having raised over {{ form.number_1 }} dollars from donations from the {{ form.number_2 }} participants.
            While runners were decorated with various brightly colored powders, members of the senior community near the racecourse were left fifty shades of frustrated over the stains left on their sidewalks after the event was over. We spoke with a resident, {{ form.name_1 }}, 
            {{ form.number_3 }}, who was left seeing red. He blasted the student organizers, claiming that “back in [his] day, running was for survival,” and that the race triggered Agent Orange flashbacks for the fuming Vietnam vet.
            Another frustrated neighbor was worried that the powder would be toxic to the bluebird and goldfinch visitors of the birdbath in her garden–“it’s an avian hazard.”
        </p>
        <p>
            When we reached out to the event organizers from the fraternity leadership board, {{ form.name_2 }}, a senior majoring in {{ form.college_major }} at the school,
            educated us that the color powder that was used for the race was cornstarch-based, therefore making it a biodegradable, eco-friendly option that would not harm the local nature and would actually run off the sidewalks and streets with the impending thunderstorm later this week due to the colorful dyes being water-soluble.
            {{ form.name_2 }} replied to our questions, apologizing that the older local residents have been green with envy but remarking that “we ran for a charity fundraiser, not for neighborhood approval… We aren't in the HOA. If color powder is the biggest issue of their week, frankly, I’m a little jealous myself.”
            The university has not commented on the matter, outside of noting that the fraternity sought proper permitting for the race through local officials and approved of their sourcing of eco-friendly color powder, with no mention of making any changes for future fundraising event guidelines and recommendations.
            Watch here for more details as they come into hue.
        </p>