 <h1>New technology rules at local high school causes {{ form.emotion }} in students, leads to walkout.</h1>

        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/School.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>Students walkout in {{ form.US_State_Capital }}</figcaption>
        </figure>

        <p>
            {{ form.last_name }} High School in {{ form.US_State_Capital }} instituted a new school policy at the last school board meeting before the school year started which left many students and parents {{ form.past_tense_emotion }}:
            students will have to leave their cell phones in locked pouches in their lockers between the 8:00AM and 3:00PM bells - all through the school day.
            After an increase in instances of bathroom fights being live-streamed on {{ form.social_media }} during lunch time, and students being caught texting their friends about the latest drama rather than paying attention to lessons in {{ form.school_class }},
            administrators had decided that enough was enough, and it was time to push back on technological distractions within the four walls of the school.
            However, when the doors were opened to let the {{ form.school_mascot }}s’ students in for the first day of school, the campus community all sat down on the still dewy grass in protest of the new directive.
        </p>
        <p>
            This movement includes some parents, frustrated about the school board overstepping parental rights, lack of communication, and approaches to implementation.
            One mother we spoke to argued that “[she] pays for the phone, they pay for the education… let’s stay in our lanes”, and that “If phones are truly creating problems in the classroom,
            then the teachers need to be better prepared to step up for the challenge and keep our kids entertained and engaged.”
            Another mom remarked that she thinks the school board is misguided, wondering, “Why isn’t the school focused on more important issues, like homework, dress codes, bathrooms, pronouns, and attendance, instead of phones?”
            Her daughter, {{ form.name }}, who was written up on multiple occasions last year for making TikTok dance videos in study hall, argued that “They say phones disrupt learning, unlike afternoon announcements, The Pledge of Allegiance, surprise assemblies,
            and that one ceiling tile that keeps falling in the bathroom by the gym. What, are confiscated phones gonna be kept in a locked vault and guarded by the grumpy assistant principal and a dusty copy of the student handbook?”
        </p>
        <p>
            As the protest continued throughout the day, some kids started playing games of {{ form.lawn_game }} to keep occupied, while others scrolled social media on the lawn, read books, or decorated the sidewalks with chalk artwork.
            Things started to descend into chaos once everyone’s phone batteries started dying, as the students quickly realized that there were no charging outlets on the outside of the building.
            The mass of teenagers quickly retreated into their cars to go home to power up again for the night of binge-scrolling ahead.
            Stay tuned here to see how long the protest at {{ form.last_name }} lasts.
        </p>