
        <figure class="article-video">
            <h1>{{form.emotion_1}} on Election Night!</h1>
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/Voting.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>Is voter fraud on the rise?</figcaption>
        </figure>

        <p>
            Just as we thought that our night at the ballot boxes
            could not get any more {{form.adjective_1}}, we're taking in news from {{form.US_state}} 
            that {{form.number_1}} voters have {{form.past_tense_verb_1}} outside of polling locations
            in their hometowns. These {{form.US_state}} citizens have seen on 
            {{form.social_media}} and have credible reason to believe that {{form.number_2}} 
            ballot certification machines have been {{form.past_tense_verb_2}} by the 
            {{form.political_organization_1}}, therefore, results should not be certified until the ballots have been 
            manually counted. They have come to the conclusion that the only way for the {{form.adjective_2}} 
            results of the election to be certified are through these means. Contrary to what the 
            {{form.group_of_people}} have told the media, these citizens know that the 
            {{form.political_organization_2}} has been attempting to cover this up, by {{form.verb_ing}} the voices of 
            the {{form.past_tense_emotion}} people. We spoke to a concerned voter, {{form.name}}, {{form.age}}, 
            who told us that immigration {{form.political_issue}} will be the downfall of this 
            {{form.Adjective_3}} nation, and this {{form.Adjective_4}} election will be just the start!
        </p>