 <h1>{{ form.sport|title }} Star, Zack “The Snack” Richards Diagnosed With Essential Tremor; Is {{ form.brand|title }} To Blame?</h1>
        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/influencer.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>Zack "The Snack" Richards</figcaption>
        </figure>

        <p>
            After his {{ form.feeling }} absence from this afternoon’s practice, Zack “The Snack” Richards’ agent has faced the cameras in a press conference this afternoon. 
            He announced today that Zack has been recently diagnosed with an essential tremor and is undergoing treatment with a local neurologist. This comes after the star had begun exhibiting some concerning symptoms during the pre-season.
            Questions are now arising about whether the athlete's long-standing sponsorship deal with {{ form.brand }} has anything to do with his new condition. Since {{ form.year }}, the two brands have been paired together, 
            creating many commercials, as well as Zack being promoted on the product’s packaging back in 2021, and he was caught on camera indulging in the product after having been spotted in the crowd of the {{ form.event }} in 2023.
            Much to the dismay of the athlete’s {{ form.medical_provider }}, he continues to ingest {{ form.brand }} regularly, stating sometimes up to {{ form.number }} times a day, in his interview with {{ form.media_company }} last month.
            Reflecting on his unapologetic approach, he chirped, “You haven’t lived until you’ve chased a protein shake with {{ form.brand }}.” His fans have been concerned that {{ form.brand }} contains numerous artificial dyes and preservatives, which have been linked to health issues, including {{ form.disease_1 }} and {{ form.disease_2 }}.
            {{ form.brand }} is among several products that are expected to undergo reformulation in the coming months to comply with the government’s new mandates on nutrition, including sweeping regulations on artificial dyes and preservatives.
            We reached out to {{ form.brand }} executives, who have yet to comment on their affiliate's health status. We are not sure of his availability for the upcoming tournament in {{ form.city }} next weekend, but we will keep you updated as soon as more details are announced.
        </p>
