 <h1>{{form.natural_disaster|title}} in South Carolina Leaves Town Reeling, Citizens Asking Questions.</h1>
        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/gnome.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>Photgraphed damage of {{form.natural_disaster}}</figcaption>
        </figure>

        <p>
            Many residents of Gordon’s Ridge, South Carolina are calling their representatives today, in turmoil
            following the {{form.feeling}} effects of last week’s {{form.natural_disaster}}.
            After the {{form.natural_disaster}} {{form.movement_1}} through the countryside from the east
            and {{form.movement_2}} through town on Wednesday night, it is believed that
            {{form.number}} people have lost their homes, including Mayor Barnabus Daly’s {{form.farm_animal}},
            who was found yesterday morning in the parking lot outside of the town’s {{form.chain}}.
        </p>
        <p>
            Thankfully, no lives were lost in the incident. I had a chance to interview the mayor this afternoon.
            When I asked him about the tragedy, all he had to say was, “the {{form.natural_disaster}} took out my gazebo,
            my garden gnome collection, and now my {{form.farm_animal}} has been abducted. How much can one mayor take?"
        </p>
        <p>
            In an effort to try and recover what was lost, these residents are only left to ask why this has happened
            to their town, and what may have caused it. One mother we interviewed told us that she believes that
            {{form.government_agency}} was behind this tragedy, stating that they used {{form.technology}} to modify the weather
            by cloud seeding to target their area, after having a majority who voted against the sitting president
            in this last election cycle last month. She was also concerned that her local weather station and airport
            were in on the act.
        </p>
        <p>
            I got to listen in on her phone call with her senator, in which she stated, in no uncertain terms,
            that if the {{form.government_agency}} were not defunded immediately, and if support from {{form.non_profit_agency}}
            were not brought in, that her senator’s party would never get her vote again.
        </p>
        <p>
            When we asked her if she had any thoughts about the {{form.adjective}} heat wave from this past month
            or the new {{form.industry}} factory just outside of town having any impact on the local climate and this disaster,
            she was quick to dismiss these claims, denying them as “conspiracy drummed up by the {{form.political_organization}}
            to scare everyone unnecessarily”.
        </p>
        <p>
            We’ll keep you updated on the recovery efforts in Gordon’s Ridge here. 
        </p>