<h1>Illegal {{ form.sporting_event|title }} Gambling Ring Connections Drawn Between Local Gardening Store, {{ form.government_role|title }} of {{ form.monarchal_country|title }}.</h1>
        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/gamble.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>Garden Gambling Ring Uncovered</figcaption>
        </figure>

        <p>
            After undergoing a thorough investigation from federal and local authorities, the owners of the Garden of Weedin’ store here in Willowmere, {{ form.US_state }} have been arrested today. This comes after receiving heavy scrutiny following an anonymous tip from a town resident, who requested to remain anonymous, about an illegal {{ form.sporting_event }} gambling ring run by the owners, {{ form.name_1 }} and {{ form.name_2 }} Martinson.
            They submitted the tip after claiming that the owners did not sell them the {{ form.vegetable }} seeds that they needed to compete in this summer’s chili cookoff challenge, where they and {{ form.name_2 }} were due to be rivals. In an interview with the anonymous tipster, they stated, “It’s amazing how fast you can find a bookie barn when your chili dreams are crushed. I asked for {{ form.vegetable }} seeds. She said they were out. Five hours later, the feds were at her shop.”
            We have been looking into the betting records collected from the behind-closed-doors establishment, which was run out of what was fronted as a supply shed on the property. The garden store has been closed since the news was released, as workers are fearful of continued retribution from citizens of {{ form.ex_monarchy }}, as well as residents from around town.
            Recently, the sprinkler system watering the greenhouses on their land outside of town had been slashed, leading to lost production, as well as some smashed windows at the storefront. Both instances are under investigation by local authorities.
        </p>
        <p>
            Citizens of the country of {{ form.ex_monarchy }} have begun to stir recently, as their suddenly-deposed {{ form.government_role }} has been linked with the store after trying to bring illegal Peruvian Puff Pepper plants from their store back into their country for “culinary purposes” after a recent vacation to the United States.
            It is believed that they have spent precious government funds, already stretched thin due to the ongoing recession, may have been spent on the plants, although no such link has been established or confirmed. Still, in a town where nothing says ‘economic reform’ quite like illegal prop bets behind the compost bins, suspicion is growing fast.
            The rumor mills have been turning on social media platforms, including {{ form.social_media_1 }} and {{ form.social_media_2 }}, with attempts to connect other important leaders and celebrities across the globe in the scandal.
            Many residents have been asking what the connection is between the store owners, the {{ form.government_role }}, and the {{ form.sporting_event }} event, which has yet to be established with any sort of relevant history.

        </p>