<h1>Invasion in {{form.country_1}}!</h1>
        <figure class="article-video">
            <video autoplay muted loop playsinline>
                <source src="https://cdn.lux.gg/public/war.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <figcaption>{{form.government_role}} of {{form.country_2}} denounces {{form.country_1}}</figcaption>
        </figure>

        <p>
            Breaking news coming from {{form.country_1}} overnight: the {{form.political_organization}} from {{form.country_2}} have breached the borders in the twilight hours of the night. 
            This comes after a back-and-forth engagement between the two nation’s leaders on {{form.social_media}} over the past few weeks, with {{form.country_2}} claiming that {{form.country_1}} 
            has been breaking trade agreements over rights to {{form.product}} in the border region. One such statement included a claim, coming from the {{form.government_role}} of {{form.country_2}}, 
            that the leader of {{form.country_1}} is a {{form.endearment}}, failing to provide their citizens with their basic daily {{form.noun}}. After attempts to make peace have failed, {{form.country_2}} 
            has resulted in all-out war, much to the dismay of its citizens, many of them being {{form.group_of_people}}, fearing for their {{form.plural_noun}}. Most importantly, and of considerable interest to outside 
            nations, is the threat of {{form.weapon}} being unleashed upon defenseless citizens, thus causing a humanitarian crisis unparalleled in history. One such citizen, {{form.name_1}} 
            from {{form.country_2}}, is worried that their oldest child, {{form.name_2}}, may be sent to fight against their will, despite claims from the leader of {{form.country_2}} that only 
            those who volunteer will see battle.
        </p>